<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SHM </title>
    <!-- 导入模块 -->
    <script src="../../../dist/vision.js"></script>
    <style>
        /* 去掉边缘滚动条 */
        body {
            overflow: hidden;
        }

        * {
            margin: 0;
            padding: 0;
            /* 隐藏鼠标 */
            /* cursor: none; */
        }
    </style>
</head>
<!-- 禁用右键菜单 -->

<body oncontextmenu="return false;">
    <!-- canvas标签 -->
    <div class="canvas_div">
        <canvas id="vision_canvas"></canvas>
    </div>

    <!-- 绘制代码 -->
    <script>
        const context = new vision.CanvasContext(1920, 1080, [0, 0, 0]).init("vision_canvas");
        const Views = vision.Views; Views.context = context;
        const Vector = vision.Vector;
        const Tools = vision.Tools;
        
        const SHM = vision.particle.SimpleHarmonicMotion;

        let PA = new vision.particle.ParticleAssembler(
            po = new Vector(context.cx, context.cy),
            ps = [
                new SHM(new Vector(), new Vector(3, 5).norm(200), Tools.ATR(4)),
                new SHM(new Vector(), new Vector(5, -1).norm(300), Tools.ATR(6)),
                new SHM(new Vector(), new Vector(-5, 2).norm(250), Tools.ATR(3)),
                // new SHM(new Vector(), new Vector(1, 3).norm(150), Tools.ATR(3.2)),
                // new SHM(new Vector(), new Vector(1, 3).norm(150), Tools.ATR(3.2)),
            ]
        )

        let tracker = new vision.particle.TrailTracker(PA, 500)


        //构建渲染器
        const renderer = new vision.renderer.IntervalRenderer().render(() => {
            context.refresh();
            PA.action();
            context.polyline(tracker.trail, {
                "color": new vision.views.ColorGradient([0, 0, 0], [0, 200, 200], tracker.trail.length),
                "lineWidth": 2,
            })
        });

    </script>
</body>

</html>