<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GlassBall </title>
    <!-- 导入模块 -->
    <script src="../../../dist/vision.js"></script>
    <style>
        /* 去掉边缘滚动条 */
        body {
            overflow: hidden;
        }

        * {
            margin: 0;
            padding: 0;
            /* 隐藏鼠标 */
            /* cursor: none; */
        }
    </style>
</head>
<!-- 禁用右键菜单 -->

<body oncontextmenu="return false;">
    <!-- canvas标签 -->
    <div class="canvas_div">
        <canvas id="vision_canvas"></canvas>
    </div>

    <!-- 绘制代码 -->
    <script>
        /***************************************************  
         * Name: ClassBall | 玻璃球
         * Intro: ...
        ****************************************************/

        const canvas = new vision.Canvas("vision_canvas");
        const Vector = vision.Vector;
        const Views = vision.Views; Views.context = canvas;
        const Tools = vision.Tools;
        canvas.BGC = 'rgb(0, 0, 0)';    

        //配置参数
        const confs = {
            //粒子数
            "N": 20,
            //粒子速度范围
            "vR": [-5, 5],
            //粒子半径范围
            "rR": [50, 150],
            //环色
            "RC": [0, 255, 255]
        }

        //构建玻璃球
        const gbs = new vision.particle.ParticleSystem(() => {
            let p = new vision.particle.Particle(
                Vector.random([[0, canvas.width], [0, canvas.height]]),
                Vector.random([confs.vR, confs.vR])
            );
            //生成半径
            p.R = Tools.random(...confs.rR);
            return p;
        }).build(confs.N);
        
        //碰撞反射
        gbs.action_middlewares.before.push((function () {
            //碰撞反射器
            let collide_reflector = function(p1, p2) {
                //计算法向量
                let vb1 = Vector.sub(p2.p, p1.p).norm(1);
                let vb2 = Vector.rotate(vb1, Math.PI/180*90);
                //碰撞反射
                p1.v = Vector.sub(p1.v, vb2.clone().mult(vb2.dot(p1.v)*2)).mult(-1)
                p2.v = Vector.sub(p2.v, vb2.clone().mult(vb2.dot(p2.v)*2)).mult(-1)
                //消除粘滞效果
                p1.p.add(vb1.clone().mult(-3));
                p2.p.add(vb1.clone().mult(3));
            }
            //碰撞反射中间件
            return function collide_reflect_middleware(ps) {
                for(let i=0, n=ps.length; i<n; i++) {
                    for(let k=i+1; k<n; k++) {
                        (ps[i].p.dist(ps[k].p) <= (ps[i].R+ps[k].R)) && collide_reflector(ps[i], ps[k]);
                    }
                }
            }
        }()));

        //边界处理
        gbs.action_middlewares.after.push((function () {
            //构建边界限制器
            let border = new vision.particle.border.RectReflectBorder([[0, canvas.width], [0, canvas.height]]);
            //边界处理中间件
            return function border_middleware(ps) {
                for (let i = ps.length; i--;) { border.limit(ps[i]); }
            }
        }()));

        //渲染器
        const randerer = new vision.randerer.IntervalRanderer().rander(() => {
            gbs.action();
            //绘制
            canvas.refresh();
            for(let i=0, end=gbs.ps.length; i<end; i++) {
                Views.lightRing(gbs.ps[i].p.x, gbs.ps[i].p.y, gbs.ps[i].R, {cs: confs.RC});
            }
        });


    </script>
</body>

</html>