<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> VectorRings </title>
    <!-- 导入模块 -->
    <script src="../../../dist/vision.js"></script>
    <style>
        /* 去掉边缘滚动条 */
        body {
            overflow: hidden;
        }

        * {
            margin: 0;
            padding: 0;
            /* 隐藏鼠标 */
            /* cursor: none; */
        }
    </style>
</head>
<!-- 禁用右键菜单 -->

<body oncontextmenu="return false;">
    <!-- canvas标签 -->
    <div class="canvas_div">
        <canvas id="vision_canvas"></canvas>
    </div>

    <!-- 绘制代码 -->
    <script>
        const canvas = new vision.canvas.Canvas("vision_canvas");
        const Vector = vision.vector.Vector;
        const Views = vision.views.Views; Views.canvas = canvas;
        const Tools = vision.tools.Tools;
        canvas.BGC = Tools.RGB(0, 0, 0);

        //配置参数
        const confs = {
            //粒子数
            "N": 500,
            //粒子生成半径
            "gR": canvas.cy,
            //速度缩放率
            "vRate": 0.03,
            //粒子绘制半径
            "R": 2.5,
            //起始颜色
            "cs": [255, 255, 255],
            //终止颜色
            "ce": [0, 0, 0]
        }

        //向量环
        class VectorRings extends vision.particle.ParticleSystem {

            /*----------------------------------------
            @class: 向量环
            @desc: 构建一个粒子序列，让p[i]朝p[i+1]的方向移动，并构成一个环
            ----------------------------------------*/
            constructor(vRate=0.03) {
                super();
                //速度缩放率
                this.vRate = vRate;
            }

            //粒子构建器
            build() {
                let dy = (canvas.width - canvas.height)/2;
                this.ps.push(
                    new vision.particle.Particle(
                        Vector.rcv(confs.gR, confs.gR).add(new Vector(canvas.cx, canvas.cy))
                    )
                );
            }

            //粒子行为
            action() {
                for(let i=0, n=this.ps.length; i<n; i++) {
                    this.ps[i].v = Vector.sub(this.ps[(i+1)%n].p, this.ps[i].p).mult(this.vRate)
                    this.ps[i].action();
                }
            }


        }   
        const pcs = new VectorRings(confs.vRate).init(confs.N);

        //渲染器
        const randerer = new vision.randerer.IntervalRanderer().rander(() => {
            pcs.action();
            //绘制
            canvas.reflush();
            let pcolor = new vision.color.ColorGradient(confs.cs, confs.ce, pcs.ps.length);
            for (let i = 0, n = pcs.ps.length; i < n; i++) {
                canvas.colorStyle = pcolor.color();
                canvas.circle(pcs.ps[i].p.x, pcs.ps[i].p.y, confs.R);
                canvas.ctx.fill();
            }
        });


    </script>
</body>

</html>