<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunctionView(函数视图)</title>
    <!-- 导入模块 -->
    <script src="../../../dist/vision.js"></script>
    <style>
        /* 去掉边缘滚动条 */
        body {
            overflow: hidden;
        }

        * {
            margin: 0;
            padding: 0;
            /* 隐藏鼠标 */
            /* cursor: none; */
        }

    </style>
</head>
<!-- 禁用右键菜单 -->
<body oncontextmenu="return false;">
    <!-- canvas标签 -->
    <div class="canvas_div">
        <canvas id="vision_canvas"></canvas>
    </div>

    <!-- 绘制代码 -->
    <script>
        const canvas = new vision.Canvas("vision_canvas");
        const Vector = vision.Vector;
        const Views = vision.Views; Views.context = canvas;
        const Tools = vision.Tools;

        
        //函数构建器
        const Fx = function(dr=100, di=0.05) {
            //定义域
            let dod = new vision.utils.iter.Range(-dr, dr, di);
            //目标函数
            // let fx = new vision.utils.iter.FuncIterator((x) => { return x*x; }, dod);
            // let fx = new vision.utils.iter.FuncIterator((x) => { return (0.1)*x**3; }, dod);
            // let fx = new vision.utils.iter.FuncIterator((x) => { return 5/x; }, dod);
            // let fx = new vision.utils.iter.FuncIterator((x) => { return (5)*x+100; }, dod);
            // let fx = new vision.utils.iter.FuncIterator((x) => { return Math.sin(3*x) + Math.cos(2.5*x); }, dod);
            // let fx = new vision.utils.iter.FuncIterator((x) => { return x**x; }, dod);
            let fx = new vision.utils.iter.FuncIterator((x) => { return 1/(x+0.0001); }, dod);
         
            return fx;
        }

        //构建网格坐标系
        const grid = new vision.particle.coor.Grid(new Vector(canvas.cx, canvas.cy), 50, 50, true);

        //平移坐标系
        

        //渲染函数
        const render = function() {
            //绘制网格
            Views.grid({co: grid.co, dx: grid.dx, dy: grid.dy});
            //绘制中心点
            canvas.circle(grid.co.x, grid.co.y, grid.dx*0.1, "rgb(255, 255, 255)");
            //绘制函数值
            let fx = Fx();
            for(;!fx.end();) {
                // let fxp = grid.from(Vector.v(...fx.val(true)));
                // canvas.circle(fxp.x, fxp.y, grid.dx*0.02, "rgb(0, 255, 0)");
                let fxp = grid.from(fx.val(true));
                canvas.circle(fxp[0], fxp[1], grid.dx*0.02, "rgb(0, 255, 0)");
                // canvas.line(fxp.x, fxp.y, fxp.x, canvas.cy)
            }
        }
        render();

        //网格坐标系缩放
        document.getElementById("vision_canvas").addEventListener("mousewheel", function(event) { 
            canvas.refresh();
            let dv = 10;
            grid.dx = grid.dy = event.wheelDelta>0 ? grid.dx+dv : (grid.dx>dv ? grid.dx-dv : grid.dx)
            render();
        });
   
    </script>
</body>
</html>