<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> accelerate </title>
    <!-- 导入模块 -->
    <script src="../../../dist/vision.js"></script>
    <style>
        /* 去掉边缘滚动条 */
        body {
            overflow: hidden;
        }

        * {
            margin: 0;
            padding: 0;
            /* 隐藏鼠标 */
            /* cursor: none; */
        }
    </style>
</head>
<!-- 禁用右键菜单 -->

<body oncontextmenu="return false;">
    <!-- canvas标签 -->
    <div class="canvas_div">
        <canvas id="vision_canvas"></canvas>
    </div>

    <!-- 绘制代码 -->
    <script>
        const canvas = new vision.Canvas("vision_canvas");
        const Vector = vision.Vector;
        const Views = vision.Views; Views.context = canvas;
        const Tools = vision.Tools;

        //配置参数
        const confs = {
            //粒子数
            "N": 50,
            //粒子速度范围
            "vR": [-5, 5],
            //是否生成新粒子
            "GENR": false,
            //粒子生成速度
            "gn": 5,
            //粒子轨迹长度
            "tn": 50,
        }

        //构建粒子群
        let pcs = new vision.particle.ParticleSystem(() => {
            let p = new vision.particle.ForceParticle(
                Vector.random([[0, canvas.width], [0, canvas.height]]),
                Vector.random([confs.vR, confs.vR])
            );
            p.tracker = new vision.particle.TrailTracker(p, confs.tn);
            return p;
        }, {max_pn: confs.N, gen_pn: confs.gn, GENR: confs.GENR}).build(confs.N);

        //匀加速场
        pcs.action_middlewares.before.push((function() {
            //构建矢量场
            let field = new vision.particle.field.AccelerateField(new Vector(0.1, -0.1));
            //矢量场作用中间件
            return function field_middleware(ps) {
                for(let i=ps.length; i--; ) { field.force(ps[i]); }
            }
        }()));

        //边界处理
        pcs.action_middlewares.after.push((function() {
            //构建边界限制器
            let border = new vision.particle.border.RectReflectBorder([[0, canvas.width], [0, canvas.height]]);
            //边界处理中间件
            return function border_middleware(ps) {
                for(let i=ps.length; i--; ) { border.limit(ps[i]); }
            }
        }()));

        //渲染器
        const randerer = new vision.randerer.IntervalRanderer().rander(() => {
            canvas.refresh();
            pcs.action();
            //绘制
            canvas.refresh();
            canvas.colorStyle = "rgb(255, 255, 255)";
            for (let i = 0, n = pcs.ps.length; i < n; i++) {
                //绘制粒子轨迹
                canvas.lines(
                    pcs.ps[i].tracker.trail,
                    new vision.views.ColorGradient([50, 50, 50], [255, 255, 255], confs.tn)
                );
                //绘制粒子坐标
                // canvas.circle(pcs.ps[i].p.x, pcs.ps[i].p.y, 3);
                // canvas.ctx.fill();
            }
        });


    </script>
</body>

</html>