<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> #title# </title>
    <!-- 导入模块 -->
    <script src="#vmp#"></script>
    #css#
</head>
<!-- 禁用右键菜单 -->
<body oncontextmenu="return false;">
    <!-- canvas标签 -->
    <div class="canvas_div">
        <canvas id="vision_canvas"></canvas>
    </div>

    <!-- 绘制代码 -->
    <script>
        const canvas = new vision.canvas.Canvas("vision_canvas");
        const Vector = vision.vector.Vector;
        const Views = vision.views.Views; Views.canvas = canvas;
        const Tools = vision.tools.Tools;
   
        //#code#

        //#renderer#
        
    </script>
</body>
</html>