<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>optimum_solution_solver</title>
    <!-- 导入模块 -->
    <script src="../../../dist/vision.js"></script>
    <style>
        /* 去掉边缘滚动条 */
        body {
            overflow: hidden;
        }

        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<!-- 禁用右键菜单 -->
<body oncontextmenu="return false;">
    <!-- canvas标签 -->
    <div class="canvas_div">
        <canvas id="vision_canvas"></canvas>
    </div>

    <!-- 绘制代码 -->
    <script>
        /***************************************************  
         * Name: optimum_solution_solver | 最优解求解器
         * Desc: 给定一个目标函数，求解该目标函数在限定定义域内的全局最优解(最值)
         * Option:
            1. 通过鼠标左键选取目标函数的顶点集
            2. 点击鼠标右键触发计算 
        ****************************************************/

        const context = new vision.CanvasContext().init("vision_canvas");
        const Vector = vision.Vector;

        //目标函数构建器
        const tfunc_builder = function(points) {
            //给定一个顶点集，求解一个点p, 使p到顶点集中各顶点的距离和最小。
            let dist_sum = function(p) {
                let d = 0;
                for(let i=0, end=points.length; i<end; i++) {
                    d += p.dist(points[i]);
                }
                return d;
            }
            //给定一个顶点集，求解一个点p, 使p到顶点集中各顶点的距离差最小
            let dist_avg = function(p) {
                let vds = [], d_sum = 0;
                //计算平均距离
                for(let i=0, end=points.length; i<end; i++) {
                    let d = p.dist(points[i]);
                    vds[i] = d; d_sum += d;
                }
                let d_avg = d_sum/points.length;
                let df_sum = 0;
                //计算方差
                for(let i=0, end=points.length; i<end; i++) {
                    df_sum += (vds[i]-d_avg)*(vds[i]-d_avg); 
                }
                return Math.sqrt(df_sum/points.length);
            }

            return dist_sum;
            // return dist_avg;
        }

        //顶点集
        let vpoints = [];
        //求解器集群
        let oss = null;

        //计算最优解
        const solve = function(vps) {

            //构建最优解求解器集群
            oss = new vision.algo.OptimumSolutionSolvers();
            //求解器数量
            oss.n = 50;
            //目标函数
            oss.tfunc = tfunc_builder(vps);
            //求解域
            oss.dod = [[10, context.width-10], [10, context.height-10]];
            //求解器速度集步长
            oss.vsd = 1;
            //最优值类型
            oss.val_type = "min";

            //绘制函数
            let disp = function() {
                context.refresh();
                //绘制顶点
                context.polyline(vps, {color: [255, 255, 255], close: true});
                //绘制求解器坐标
                for(let i=0, end=oss.solvers.length; i<end; i++) {
                    context.circle(oss.solvers[i].p.x, oss.solvers[i].p.y, 1, {color: [0, 255, 0]});
                }
            }
            //初始化
            oss.init();
            //迭代
            let clock = setInterval(function() {
                if(!oss.isEnd()) {
                    oss.next(); disp();
                } else {
                    clearInterval(clock);
                    context.circle(oss.os_p.x, oss.os_p.y, 3, {color: [0, 255, 0]});
                    alert(`os_val: (${oss.os_val})\nos_p: (${oss.os_p.v})`);
                }
            }, 17);
        }
        
        //设置顶点
        document.getElementById("vision_canvas").addEventListener("mousedown", function(event) {
            if(event.button == 0) {
                let x = event.clientX, y = event.clientY;
                vpoints.push(new Vector(x, y));
                context.circle(x, y, 3, {color: [0, 255, 0]});
            } else if(event.button == 2) {
                solve(vpoints);
            }
        });
        

    </script>


</body>
</html>